<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DeveloperHub_UrlRewritePro::developerhub" title="DeveloperHub" module="DeveloperHub_UrlRewritePro"
             parent="DeveloperHub_Core::developerhub" resource="DeveloperHub_UrlRewritePro::developerhub"/>
        <add id="DeveloperHub_UrlRewritePro::url_rewrite" title="Url Rewrite" module="DeveloperHub_UrlRewritePro"
             parent="DeveloperHub_UrlRewritePro::developerhub" action="url/regenerate/index"
             resource="DeveloperHub_UrlRewritePro::url_rewrite"/>
    </menu>
</config>
